.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 1px solid gray;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

#next,
#previous {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
}

#next {
    background-color: green;
    color: #fff;
}

#previous {
    background-color: red;
    color: #fff;
}